.message:nth-child(odd) {
  background: antiquewhite;
}

.messages {
  width: 90%;
  margin-bottom: 40px;
}

.message-form {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 65%;
  margin-left: 38%;
  height: 40px;
  margin-bottom: 20px;
}

.new-message {
  height: 100%;
  width: 80%;
}

.submit-message {
  width: 10%;
  background-color: gray;
  height: 46px;
  border: none;
  color: white;
  font-size: 16px;
}

.display-time {
  padding-left: 50px;
}
