.App {
  height: 100%;
  width: 100%;
  position: absolute;
  float: left;
}

ul {
  list-style-type: none;
}

h1 {
  padding-left: 10px;
}

h3 {
  padding-left: 10px;
}

.container-left {
  float:left;
  width: 35%;
  height: 100%;
  background-color: gray;
  padding-top: 10px;
}

.container-right {
  float: right;
  width: 65%;
  height: 100%;
  background-color: green;
  text-align: left;
  padding-top: 10px;
}
